@model Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>

<body>
    <h2>@Model.Name</h2>
    <hr />
    @if (Model.WillAttend == true)
    {
        @:Kursa katıldığınız için teşekkür ederiz.
    }
    else
    {
        @:Kursa katılamadığınız için üzgünüz.


    }
    Kursa katılanları <a asp-Action="List"> liste.</a>

</body>
</html>

